<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - CollegeCareerTracker</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="http://CollegeCareerTracker.com/Content/images/Fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://CollegeCareerTracker.co/Content/images/Fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="http://CollegeCareerTracker.co/Content/images/Fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://CollegeCareerTracker.co/Content/images/Fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://CollegeCareerTracker.co/Content/images/Fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://CollegeCareerTracker.co/Content/images/Fav/favicon-16x16.png">
    <link rel="manifest" href="~/Content/images/Fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/images/Fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/Content/images/Fav/favicon.ico" type="image/ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="collegeFont">College</span><span class="careerFont">Career</span><span class="trackerFont">Tracker</span></a>
                @*@Html.ActionLink("College<span class='difFont'>CareerTracker</span>", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="howWorksLink" href="#">How it works</a></li>
                    <li><a id="aboutLink" href="#">About us</a></li>
                    @*<li>@Html.ActionLink("How it works", "Index", "Home")</li>
                    <li>@Html.ActionLink("About us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - CollegeCareerTracker.com. All rights reserved.</p>
            <div class="divider"></div>
            <p>Stay On Track for a Brighter Future</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Shared/Main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {
            $(this).scrollTop(0);
            resizePage();
        });

        function resizePage() {

            $('section').css('min-height', $(window).height());

            $(window).resize(function () {
                if ($(window).width() > 768) {
                    $('section').css('min-height', $(window).height());
                }
            });

        }

     </script>
        
</body>
</html>
